@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../css/common-styles.css';


body {
    font-family: Montserrat, Helvetica, Arial, serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
}

@layer components {

    .nav-item > a:hover > * {
        @apply transform translate-x-2;
    }

    .nav-item > a:hover > *, .nav-item > a > * {
        @apply transition-transform duration-300 ease-in-out;
    }

    .nav-item > a {
        padding: 10px 15px 10px 15px;
        margin: 0 15px;
    }

    .nav-item > a.active {
        @apply bg-gradient-to-r from-primary-500 to-primary-200;
        box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
        border-radius: 4px;
        color: white;
    }
}
[dir] .form-control:focus {
    background-color: #fff;
    border-color: #7367f0;
    box-shadow: 0 3px 10px 0 rgba(34, 41, 47, 0.1);
}

.form-control:focus {
    color: #6e6b7b;
    outline: 0;
}

[dir] .form-control {
    padding: .438rem 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: .357rem;
}
textarea.form-control{
    padding: 0.8rem 1rem !important;
}
select.form-control[multiple], select.form-control[size], textarea.form-control {
    height: auto;
}

.form-control::placeholder {
    color: #d8d6de;
    transition: all 0.2s ease;
}

.form-control.is-invalid, .form-control.is-invalid:focus {
    @apply border-danger-500;
}

.form-control.is-valid, .form-control.is-valid:focus {
    @apply border-success-500;
}

.is-invalid .form-group .p-checkbox-box {
    @apply border-danger-500;
    &.p-highlight {
        @apply border-danger-500;
    }
}

.is-invalid .form-group > label {
    @apply text-danger-500;
}

.form-control:focus::placeholder {
    transform: translate(5px);
    transition: all 0.2s ease;
}

.form-control:focus:valid, .form-control:focus.is-valid {
    box-shadow: 0 3px 10px 0 rgba(34, 41, 47, 0.1);
}

.form-control-plaintext:focus {
    outline: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.714rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.form-group {
    margin-bottom: 1rem;
}

.card {
    border: none;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .428rem;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    transition: all .3s ease-in-out, background 0s, color 0s, border-color 0s;

}

.card-danger {
    background-color: #ea5455 !important;;
}

h1 {
    font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #5e5873;
}

h2 {
    font-size: 1.714rem;
    color: black;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.286rem;
}

h5 {
    font-size: 1.07rem;
}

h6 {
    font-size: 1rem;
}


.badge {
    display: inline-block;
    @apply text-sm text-white;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    padding: .3rem .5rem;
    text-align: center;
    border-radius: .358rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, background 0s, border 0s, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, background 0s, border 0s, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, background 0s, border 0s;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, background 0s, border 0s, -webkit-box-shadow .15s ease-in-out;
}

.badge-primary {
    @apply bg-primary-500;
}

.badge-success {
    @apply bg-success-500;
}

.badge-danger {
    @apply bg-danger-500;
}
.badge-secondary{
    @apply bg-secondary-500;
}
.form-control:disabled, .form-control[readonly] {
    @apply bg-gray-200;
}
.form-control[readonly] {
    @apply focus:bg-gray-200; focus:border-none;
}
button:disabled{
    @apply opacity-50 cursor-not-allowed;
}
.dropdown-item{
    cursor: pointer;
    padding: .4rem 1.28rem;
    clear: both;
    text-align: inherit;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover {
    @apply bg-primary-500 bg-opacity-10 text-primary-500
}
