@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './common-styles.css';
body {
    font-family: Montserrat,Helvetica,Arial,serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
}
@layer components {
    .nav-item>a:hover>*{
        @apply transform translate-x-2;
    }
    .nav-item>a:hover>*, .nav-item>a>*{
        @apply transition-transform duration-300 ease-in-out;
    }
    .nav-item>a{
        padding: 10px 15px 10px 15px;
        margin: 0 15px;
    }
    .nav-item>a.active{
        @apply bg-gradient-to-r from-primary-500 to-primary-200;
        box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
        border-radius: 4px;
        color: white;
    }
}
